@import '../../assets/styles/main.scss';


.Parent-main-filter-result-container {
    width: 100%;
    max-width: 98.5rem;
    margin: 0 auto;
    padding: 0 1.5rem;

    .Sub-parent-main-filter-result-container {
        width: inherit;
        display: flex;
        align-items: flex-start;
        // justify-content: space-between;

        @include breakpoint-down ($xl) {
            .Side-filter-bar {
                display: none
            }
        }
    }
}


.Side-filter-bar {
    width: 100%;
    max-width: 269px;
    background-color: #fff;
    border: 1px solid #c6c6c6;
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;

    .filtered-header-text {
        width: 100%;
        border-bottom: 1px solid #c6c6c6;
        display: flex;
        align-items: end;
        padding-left: 3%;

        .filter-by {
            font-size: 15px;
            font-weight: 800;
        }
    }
}


.first-section-header {
    width: 100%;
    display: flex;
    align-items: end;
    padding-left: 3%;

    .filter-by-popular {
        font-size: 15px;
        font-weight: 800;
    }
}

.First-filter-section {
    border-bottom: 1px solid #c6c6c6;
}


.Filters {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0% 3%;
    height: 25px;
    margin: 2% 0;

    .Checkbox-text-container {
        display: flex;
        align-items: center;
        width: 100%;

        .filter-option-text {
            margin: 0 5px;
            font-size: 16px;
        }
    }
}


input.Larger {
    width: 20px;
    height: 18px;
}

.Number-available-text {
    font-size: 13px;
    font-weight: 100;
}

.Filtered-result {
    min-width: 73%;
    padding: 1%;
    margin: 1%;
    // background-color: green;

    .Location-card {
        margin: 1% 0;
        width: 100%;
        background-color: #fff;
        border: 1px solid #c6c6c6;
        border-radius: 5px;
        padding: 2%;
        display: flex;
        align-items: flex-start;

    }
}


.Image-general-container {
    min-height: 15rem;
    min-width: 15rem;
    position: relative;
}

.Image-container {
    width: 100%;
    max-width: 15rem;
    background-color: rgba(0, 0, 0, 0.4);
    min-height: inherit;
    z-index: 0;


    Img {
        width: inherit;
        min-height: inherit;
        object-fit: contain;
        z-index: 0;
    }
}


.Image-container-overlay {
    width: 100%;
    background-color: rgba(0, 0, 0, 0.2);
    position: absolute;
    top: 0;
    min-height: inherit;
    padding: 2%;
    z-index: 0;
}

.like-container {
    width: 40px;
    height: 40px;
    background-color: #fff;
    border-radius: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
}

.Location-general-info-container {
    margin: 0px 1.5rem;
    width: 100%;
    display: flex;
    align-items: flex-start;
    justify-content: space-between;
    flex-direction: row;

   

    .Location-Name {
        color: #006ce4;
        font-size: 1.5rem;
        font-weight: 700;
    }

    .Location-inner-container {
        width: 70%;
    }

    @include breakpoint-down ($md) {
        flex-direction: column;
        width: 100%;

        .review-price-container {
            align-items: center;
            justify-content: space-between;
            width: 100%;
            flex-direction: row;

            
            h2.loct-text-dol{
                display: none;
            }
        }

        .reviews-rating {
            display: flex;
            align-items: center;
            justify-content: left;
            width: 100%;
            max-width: 10rem;

        }

        .Location-inner-container{
            width: 100%;
            margin-bottom: 8px;
        }

        .Image-general-container{
            min-height: 16rem;
        }
    }

}


.Rating-container {

    display: flex;
    align-items: baseline;
    justify-content: center;

    svg {
        height: 14px;
        width: 14px;
        fill: #febb02;
        margin: 0 1%;
    }
}

.Location-name-rating {
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 100%;
    max-width: 21rem;
}


.address-on-map {
    text-decoration: underline;
    color: #006ce4;
    font-weight: 500;
    margin-bottom: 1%;
}

.Distance {
    margin-bottom: 1%;
}

.Map-text {
    color: #006ce4;
}

.about-location {
    margin-top: 1rem;

    p {
        line-height: 1.5em;
    }
}

.Diff-box {
    box-shadow: 0 0 8px #a3d7fc;
}

.middle-section {
    border-top: 1px solid #c6c6c6;
    border-bottom: 1px solid #c6c6c6;

}

.review-price-container {
    width: 30%;
    height: 100%;
    display: flex;
    align-items: flex-end;
    flex-direction: column;
    justify-content: end;


    h2 {
        color: #006ce4;
        font-size: 14px;
        font-weight: 700;
        margin-top: 2%;
    }
}

.reviews-rating {
    display: flex;
    align-items: center;
    justify-content: end;
    width: 100%
}

.Main-rating {
    width: 40px;
    height: 40px;
    background-color: rgb(246, 128, 19);
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 0 1%;
    border-radius: 100px;

    h2 {
        color: #fff;
    }
}

.rating-text {
    display: flex;
    align-items: center;
    justify-content: end;
    flex-direction: column;

    h1 {
        font-size: 18px;
        font-weight: 700;
    }
}


h2.loct-text-dol{
    color: #00AA00;
    font-size: 16px;
    font-weight: 100;
}

.show-price-button {
    background-color: #006ce4;
    color: #fff;
    font-weight: 500;
    padding: 11px 28px;
    border-radius: 5px;
    border: 1px solid transparent;
}

.grid-stack {
    border: 1px solid #d5d8db;
    border-radius: 4px;
    max-width: 78px;
}

.grid-view {
    padding: 0.3rem 0.8rem;
    border-bottom-right-radius: 4px;
    border-left: 0.5px solid #d5d8db;
    border-top-right-radius: 4px;
    background-color: #fff;
    border: none;
}

.stack-view {
    padding: 0.3rem 0.8rem;
    border-bottom-left-radius: 4px;
    border-right: 0.5px solid #d5d8db;
    border-top-left-radius: 4px;
    border: none;
}

.filter-result-number-layout {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;

    .grid-stack-layout {
        width: 100%;
        max-width: 17rem;
        display: flex;
        align-items: center;
        justify-content: space-between;

        h2 {
            font-weight: 100;
            color: #6c7780;
        }
    }
}

.selected-side-bar-options {
    width: 100%;
    margin: 10px 0;

    .inner-side-bar-options {
        width: 100%;
        display: flex;
        align-items: center;
        flex-wrap: wrap;

        button {
            margin: 2px 5px;
            padding: 6px 8px;
            display: flex;
            align-items: center;
            justify-content: center;
            border: 1px solid #003b95;
            border-radius: 999px;
            font-size: 16px;
            color: #003b95;
            background-color: rgb(232, 242, 255);
            font-weight: 600;
            white-space: nowrap;
            min-width: 12%;

            svg {
                width: 16px;
                height: 17px;
                margin: 0 5px;
                color: #003b95;
            }
        }
    }
}