.parent-items-container{
    width: 100%;
}

.sub-items-container{
    width: inherit;
    display: flex;
    align-items: center;
    justify-content: space-between;
    // flex-wrap: wrap;
    margin: 1rem 0;
    padding: 1%;
    gap: 0.2rem;
}

.subitems-container{
    min-width: 23%;
    padding: 1% 20px;
    margin: 1%;
    border: 1px solid transparent;
    display: flex;
    align-items: center;
    justify-content: space-between;
    border-radius: 12px;
    cursor: pointer;
    height: 70px;
    transition:cubic-bezier(0.175, 0.885, 0.32, 1.275);
    transition-duration: 2s;
    -moz-transition: cubic-bezier(0.175, 0.885, 0.32, 1.275);
    -moz-transition-duration: 2s;
    box-shadow: 2px 4px 4px rgba(0,0,0,0.5);
}
.items-one-text{
    font-weight: 600;
    font-size: 1.5rem;
}
.subitems-container:hover{
//    border: 5px solid #000;
      background-color: rgba(0,0,0,1);

   .items-one-text{
    color: #fff;
   }

   svg.UmNoP{
     color: #fff;
     fill: #fff;
   }
}

.slick-initailized, .slick-track{
    display: flex;
    align-items: center;
    justify-content: space-between;
    flex-direction: row;
    position: relative;
    height:70px;
    margin: 1rem 0;
}

.slick-arrow{
    position: absolute;
    z-index: 1;
    bottom: 25px;
}

.slick-next{
    right: 8px !important;
    bottom: 5px !important;
}

.slick-prev{
    left: 8px !important;
}

.slick-prev:before, .slick-next:before{
    color: rgba(0,0,0,1) !important;
}


// .slick-dots{
//     bottom: -45px !important;
// }

.general-items-container{
    padding: 0.5%;
    width: 100%;
    max-width: 100rem;
    margin: 1rem auto;
    background: none;
}