.parent-header-container{
    width: 100%;
    background-color: #fff;
    box-shadow: 0 1px 4px rgba(0,0,0,0.4);
    z-index: 8;
}


.main-parent-sub-container{
    width: 100%;
    height: 100px;
    padding: 1%;
    max-width: 100rem;
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin: 0 auto;
    @include breakpoint-down(md){
        .meun-content{
            display: none;
        }
      }
}

.sub-parent-container{
    width: inherit;
    height: inherit;
    display: flex;
    justify-content: space-between;
    align-items: center;
    max-width: 60rem;
}

.meun-content{
    max-width: 30rem;
    width: 100%;
    display: flex;
    align-items: center;
}

.main-menu-content{
    width: 100%;
}

.list-item-content{
    width: inherit;
    display: flex;
    align-items: center;
    justify-content: space-between;
    height: 40px;
}

.list-item{
    width: 23%;
    padding: 1%;
    margin: 0 1%;
    display: flex;
    align-items: center;
    justify-content: center;
    height: inherit;
    border-radius: 50px;
    cursor: pointer;
}

.list-item:hover{
    background-color: rgba(0,0,0,0.2);
}

.list-item-text{
    font-size: 1.3rem;
    margin: 0 1px;
    font-weight: 600;
}

.humburger{
    display: none;
}