// @import "./variables";
* {
    font-family: 'Poppings', 'Basis Grotesque', -apple-system, BlinkMacSystemFont,
      'Segoe UI', Roboto, Helvetica, Arial, sans-serif, 'Apple Color Emoji',
      'Segoe UI Emoji', 'Segoe UI Symbol';
    box-sizing: border-box;
    font-weight: 400;
    margin: 0;
    padding: 0;
  }
  
  body {
    font-family: 'Poppings', 'Basis Grotesque', 'Poppings', -apple-system,
      BlinkMacSystemFont, 'Segoe UI', Roboto, Helvetica, Arial, sans-serif,
      'Apple Color Emoji', 'Segoe UI Emoji', 'Segoe UI Symbol';
    font-variant-numeric: slashed-zero;
    direction: ltr;
    unicode-bidi: isolate;
    width: 100%;
    position: relative;
    font-weight: normal;
    font-style: normal;
    font-size: 14px;
    overflow: auto;
    font-size: 14px;
      line-height: 1.43;
      color: #484848;
    background-color: #fffefe24;
    margin: 0;
    -webkit-font-smoothing: antialiased;
    -webkit-transition: all 0.4s ease-in-out;
    -o-transition: all 0.4s ease-in-out;
    transition: all 0.4s ease-in-out;
    margin: 0px;
    padding: 0px;
    border: 0px;
    font-style: inherit;
    font-variant: inherit;
    font-weight: inherit;
    font-stretch: inherit;
    font-size: inherit;
    font-family: inherit;
    vertical-align: baseline;
    line-height: 1;
    overflow-x: hidden;
  
    &.no-scroll {
      overflow: hidden;
    }
  }
  
  ::selection {
    background: #b6a08f;
    padding: 1rem;
  }
  
  h1 {
    font-family: Circular, -apple-system, BlinkMacSystemFont, Roboto,
      'Basis Grotesque', sans-serif;
    font-style: normal;
    font-weight: bold;
    font-size: 2em;
    line-height: inherit;
    text-align: left;
    letter-spacing: -1.31923px;
  }
  
  h2 {
    font-family: Circular, -apple-system, BlinkMacSystemFont, Roboto,
      'Basis Grotesque', sans-serif;
    font-style: normal;
    font-weight: 600;
    font-size: 22px;
    line-height: 36px;
    text-align: center;
    letter-spacing: -1.31923px;
  }
  
  h3 {
    font-family: Circular, -apple-system, BlinkMacSystemFont, Roboto,
      'Basis Grotesque', sans-serif;
    font-size: clamp(1.8rem, 1.8rem, 3.5rem);
    font-style: normal;
    font-weight: 600;
    font-size: 20px;
    line-height: 39px;
    text-align: center;
    letter-spacing: -1.31923px;
  }
  h4 {
    font-family: Circular, -apple-system, BlinkMacSystemFont, Roboto,
      'Basis Grotesque', sans-serif;
    font-style: normal;
    font-weight: 500;
    font-size: 18px;
    line-height: 32px;
    letter-spacing: 0.68px;
  }
  h5 {
    font-family: Circular, -apple-system, BlinkMacSystemFont, Roboto,
      'Basis Grotesque', sans-serif;
    font-style: normal;
    font-weight: 600;
    font-size: 16px;
    line-height: 29px;
    text-align: center;
    letter-spacing: -1.31923px;
  }
  h6 {
    font-family: Circular, -apple-system, BlinkMacSystemFont, Roboto,
      'Basis Grotesque', sans-serif;
    font-style: normal;
    font-weight: 500;
    font-size: 15px;
    line-height: 24px;
    display: flex;
    align-items: center;
  }
  
  small {
    font-size: 85%;
  }
  
  button:focus {
    outline: none;
  }
  
  .absolute {
    position: absolute;
  }
  
  .relative {
    position: relative;
  }
  .pointer {
    cursor: pointer;
  }
  
  input.input,
  textarea.input {
    background: #ffffff;
    border: 1px solid #d5d8db;
    box-sizing: border-box;
    border-radius: 5px;
    padding: 12px;
    width: 100%;
    &.error {
      border-color: #c13515;
      outline: #c13515;
    }
  }
  
  select.input {
    border: 1px solid #d5d8db;
    box-sizing: border-box;
    border-radius: 5px;
    padding: 12px;
    width: 100%;
    &.error {
      border-color: #c13515;
      outline: #c13515;
    }
  }
  
  .btn {
    border-radius: 4px;
    font-style: normal;
    font-weight: 500;
    font-size: 16px;
    line-height: 20px;
    background-color: transparent;
    border: 1px solid transparent;
    padding: 12px 1rem;
    margin: 0.5%;
    width: 100%;
    color: $primary-blue;
    &.btn-primary {
      background-color: $primary-blue;
      color: #ffffff;
      &:disabled {
        opacity: 0.3;
        cursor: not-allowed;
      }
    }
    &.btn-primary-outline {
      background-color: transparent;
      border: 1px solid $primary-blue;
      color: $primary-blue;
    }
  }
  
  .error {
    &:not(input):not(select):not(textarea) {
      color: #721c24;
      // background-color: #f8d7da;
      // border-color: #f5c6cb;
      // padding: 18px 18px 18px 24px;
      border-radius: 3px;
      font-size: 16px;
      line-height: 1.5em;
      align-items: flex-start;
      :nth-child(2) {
        margin-left: 10px;
        margin-top: -5px;
      }
    }
  }
  .success {
    &:not(input):not(select):not(textarea) {
      color: #155724;
      background-color: #d4edda;
      border-color: #c3e6cb;
      padding: 18px 18px 18px 24px;
      border-radius: 3px;
      font-size: 16px;
      line-height: 1.5em;
    }
  }
  
  // select {
  //   background-image: linear-gradient(45deg, transparent 50%, gray 50%),
  //     linear-gradient(135deg, gray 50%, transparent 50%),
  //     linear-gradient(to right, #ccc, #ccc);
  //   background-position: calc(100% - 20px) calc(1em + 2px),
  //     calc(100% - 15px) calc(1em + 2px), calc(100% - 2.5em) 0.5em;
  //   background-size: 5px 5px, 5px 5px, 1px 1.5em;
  //   background-repeat: no-repeat;
  // }
  
  // select:focus {
  //   background-image: linear-gradient(45deg, green 50%, transparent 50%),
  //     linear-gradient(135deg, transparent 50%, green 50%),
  //     linear-gradient(to right, #ccc, #ccc);
  //   background-position: calc(100% - 15px) 1em, calc(100% - 20px) 1em,
  //     calc(100% - 2.5em) 0.5em;
  //   background-size: 5px 5px, 5px 5px, 1px 1.5em;
  //   background-repeat: no-repeat;
  //   border-color: green;
  //   outline: 0;
  // }
  
  // select::after {
  //   content: '▼';
  //   font-size: 12px;
  //   top: 27%;
  //   right: 10px;
  //   position: absolute;
  // }
  
  select {
    display: block;
    width: 100%;
    max-width: 100%;
    box-sizing: border-box;
    margin: 0;
    border: 1px solid #aaa;
    box-shadow: inherit;
    border-radius: inherit;
    -moz-appearance: none;
    -webkit-appearance: none;
    appearance: none;
    background-color: #fff;
    background-image: url('data:image/svg+xml;charset=US-ASCII,%3Csvg%20xmlns%3D%22http%3A%2F%2Fwww.w3.org%2F2000%2Fsvg%22%20width%3D%22292.4%22%20height%3D%22292.4%22%3E%3Cpath%20fill%3D%22%23007CB2%22%20d%3D%22M287%2069.4a17.6%2017.6%200%200%200-13-5.4H18.4c-5%200-9.3%201.8-12.9%205.4A17.6%2017.6%200%200%200%200%2082.2c0%205%201.8%209.3%205.4%2012.9l128%20127.9c3.6%203.6%207.8%205.4%2012.8%205.4s9.2-1.8%2012.8-5.4L287%2095c3.5-3.5%205.4-7.8%205.4-12.8%200-5-1.9-9.2-5.5-12.8z%22%2F%3E%3C%2Fsvg%3E'),
      linear-gradient(to bottom, #ffffff 0%, #ffffff 100%);
    background-repeat: no-repeat, repeat;
    background-position: right 0.7em top 50%, 0 0;
    background-size: 0.65em auto, 100%;
  }
  select::-ms-expand {
    display: none;
  }
  select:hover {
    border-color: #888;
  }
  select:focus {
    border-color: #aaa;
    box-shadow: 0 0 1px 3px rgba(59, 153, 252, 0.7);
    box-shadow: 0 0 0 3px -moz-mac-focusring;
    color: #222;
    outline: none;
  }
  select option {
    font-weight: normal;
  }
  [dir='rtl'] select,
  :root:lang(ar) select,
  :root:lang(iw) select {
    background-position: left 0.7em top 50%, 0 0;
    padding: 0.6em 0.8em 0.5em 1.4em;
  }
  
  /* Disabled styles */
  select:disabled,
  select[aria-disabled='true'] {
    color: graytext;
    background-image: url('data:image/svg+xml;charset=US-ASCII,%3Csvg%20xmlns%3D%22http%3A%2F%2Fwww.w3.org%2F2000%2Fsvg%22%20width%3D%22292.4%22%20height%3D%22292.4%22%3E%3Cpath%20fill%3D%22%23000000%22%20d%3D%22M287%2069.4a17.6%2017.6%200%200%200-13-5.4H18.4c-5%200-9.3%201.8-12.9%205.4A17.6%2017.6%200%200%200%200%2082.2c0%205%201.8%209.3%205.4%2012.9l128%20127.9c3.6%203.6%207.8%205.4%2012.8%205.4s9.2-1.8%2012.8-5.4L287%2095c3.5-3.5%205.4-7.8%205.4-12.8%200-5-1.9-9.2-5.5-12.8z%22%2F%3E%3C%2Fsvg%3E'),
      linear-gradient(to bottom, #ffffff 0%, #ffffff 100%);
  }
  select:disabled:hover,
  select[aria-disabled='true'] {
    border-color: #aaa;
  }
  
  button {
    &[disabled='disabled'] {
      opacity: 0.3;
      cursor: not-allowed;
    }
  }
  
  input[type='radio'] {
    appearance: none;
    border-width: 1px;
    border-style: solid;
    border-color: rgb(176, 176, 176);
    background: rgb(255, 255, 255);
    overflow: hidden;
    border-radius: 50%;
    outline: none;
    cursor: pointer;
    box-sizing: border-box;
    height: 22px;
    width: 22px;
    margin: 0px;
    display: block;
    flex: 0 0 auto;
    transition: 0.3s all ease-in-out;
  }
  input[type='radio']:checked {
    color: rgb(34, 34, 34);
    font-size: 16px;
    line-height: 20px;
    appearance: none;
    border-style: solid;
    overflow: hidden;
    border-radius: 50%;
    outline: none;
    border-color: $primary-blue;
    border-width: 7px;
    background: white;
    cursor: pointer;
    box-sizing: border-box;
    height: 22px;
    width: 22px;
    margin: 0px;
    display: block;
    flex: 0 0 auto;
  }
  