$white: #ffffff;
$black: #000000;
$primary-blue: #2d3c49;
$dark-blue: #26333f;
$off-blue: #c4c4c4;
$off-white: #f4f5f6;
$light-white: #ebebeb;
$primary-grey: #e9e3dd;
$primary-brown: #b6a08f;
$font-family: "Montserrat";
$inactive-text: #969ea4;
$border-brown: rgba(45, 60, 73, 1);
$border-grey: rgba(244, 245, 246, 1);
$find-places: #fdc735
