@import '../../assets/styles/main.scss';

.sub-banner-parent-container {
    width: 100%;
    max-width: 140rem;
    margin: 0 auto;
    background-image: url('https://i.pinimg.com/originals/81/b9/29/81b929e6a28382a53c0054e4d0bbec14.jpg');
    background-size: 100% 100%;
    object-fit: cover;
    background-repeat: no-repeat;
    min-height: inherit;


}

.banner-overlay {
    width: 100%;
    background-color: rgba(0, 0, 0, 0.5);
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    max-width: 140rem;
    margin: 0 auto;
    min-height: inherit;
}

.banner-parent-container {
    width: 100%;
    // background-color: #ffe4c4;
    // margin-top: 1rem;
    position: relative;
    z-index: 1;
    min-height: 38rem;

    @include breakpoint-down($md) {
        .sub-banner-parent-container {
            flex-direction: column;
            align-items: baseline;
        }

        .banner-text-container {
            width: 100%;
        }

        .banner-image-container {
            display: none;
        }

        .banner-header-text {
            white-space: break-spaces;
            font-size: 3.3rem;
            line-height: 1.5em;
        }


        // .banner-parent-container{
        //    min-height: 35rem;
        // }

    }
}

.banner-text-container {
    width: 98.5%;
    margin: 1% 0.5%;
    border: 0.06em solid #ccc;
    padding: 1% 0.25rem;
    position: relative;
    // box-shadow: 2px 2px 4px 4px #fff;
    border-style: unset;
    padding-left: 2.5rem;
    display: flex;
    align-items: center;
    justify-content: left;
    display: flex;
    align-items: flex-start;
    justify-content: left;
    flex-direction: column;

    @include breakpoint-down ($sm) {
        .banner-header-text {
            font-size: 2rem;
        }

        .what-we-do-banner-header-text {
            font-size: 1.3rem;
        }

        .what-input-content {
            font-size: 1.4rem;
        }
    }
}

.banner-image-container {
    width: 48.5%;
    margin: 1% 0.5%;
    padding: 1%;
    display: flex;
    align-items: center;
    justify-content: center;

    img {
        width: 100%;
        object-fit: cover;
    }
}

.banner-header-text {
    font-size: 5rem;
    color: #fff;
    white-space: nowrap;
    margin-bottom: 0.5rem;
}

.what-we-do-banner-header-text {
    color: #fff;
    font-size: 2.5rem;
    letter-spacing: 3px;
    margin-bottom: 1.2rem;
}

.what-input-content {
    font-size: 1.55rem;
    line-height: 1.4em;
    color: #fff;
    margin-bottom: 0.5rem;
    width: 100%;
    max-width: 60rem;
}



.text-line {
    stroke-dasharray: 500;
    stroke-dashoffset: 500;
    animation: dash 5s linear forwards, filling 5s ease-in forwards;
    font-size: 70px;
  }
  
  .text-line text {
    font-family: Helvetica,Arial,sans-serif;
    font-weight: normal;
    font-style: normal;
  }
  
  @keyframes dash {
    to {
      stroke-dashoffset: 0;
    }
  }
  
  @keyframes filling {
    0%, 90% { fill: #fff; fill-opacity: 0; }
    100% { fill: #fff; fill-opacity: 0; }
  }

  svg.text-line{
    text-align: left;
    width: 100%;
    max-width: 75rem;
    font-size: 65px;
  }

//   svg.diff-text-line{
//     font-size: 35px;
//     padding-left: 9.5rem;
//   }

.more-info-header-text{
    width: 100%;
    color: #ccc;
    font-size: 25px;
}